.App {
  text-align: center;
  font-family: 'Jura', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @media (min-width: 736px){ */
.avatar_size {
    height: 150px;
    width: 150px;
  }
/* } */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addImageblock {
  background-color: rgb(214, 214, 214);
  border-color: black;
  height: 293px;
  width: 293px;

}

.imagePostSize {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 0 2rem;
  padding-right: 0 2rem;
  padding-bottom: 0 2rem;
 
}

.row {
  margin: 0 auto;
}

.imageSize {
  width: 293px;
  height: 293px;
  object-fit: cover;
}

.imageSize:hover {
	opacity: 0.7;
	
}

.app_header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  text-align: left;

}

.avatar .MuiAvatar-root {
  margin: 4%;
  height: 150px;
  width: 150px;
}

.avatar {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* Header */

.NavbarItems {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgb(160, 125, 127) 0%, rgba(217,182,184,1)100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem
}

.navbar-logo{
  color: #ffffff;
  justify-content: start;
  margin-left: 20px;
  cursor: pointer;

}

.bg-dark{
  background: linear-gradient(90deg, rgb(160, 125, 127) 0%, rgba(217,182,184,1)100%);
}


.nav-menu{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 2rem
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover{
  background-color: white;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color:rgb(57,55,60)
}

.navbar-toggler:hover{
  background-color: rgb(160,125,127);
}

.navbar-toggler:focus {
  outline-color:rgb(57,55,60) ;
}

.navbar-menu{
  color: white
}